{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="{% static 'faq/css/bootstrap.css' %}"/>    
    <script src="{% static 'faq/js/bootstrap.js' %}"></script>
    <title>{% block title %} Django FAQ {% endblock %}</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <span class="alert-danger">{{message}}</span>
    {% endfor %}
    {% endif %}
    <div id="navbar" class="container-fluid p-4 bg-light">
        {% block navbar %}
        <ul class="nav justify-content-end">
            {% comment %} <li><a href="/">Home</a></li> {% endcomment %}
            <li class="nav-item"><a class="nav-link" href="{% url 'faq:question_create' %}">ask a question</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'faq:index' %}">all questions</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'faq:index' %}?answered=true">answered questions</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"> <span class="nav-link">{{ user.username }}</span> </li>
            <li class="nav-item"><a class="nav-link alert-info" href="{% url 'logout' %}">logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link alert-primary" href="{% url 'login' %}">login</a></li>
            {% endif %}
        
        </ul>
        {% endblock %}
    </div>

    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>