{% extends 'faq/base.html' %}

{% block content %}
<div class="row">
    <div class="col-4">
        {% comment %} <form action="{% url 'faq:answer_question' %}"> {% endcomment %}
        {% comment %} <form action="." method="POST"> {% endcomment %}
        <form action="{% url 'faq:answer_question' question.id %}" method="POST" class="form-control">
        {% csrf_token %}
        <label for="answer_text"/>
        <textarea id="answer_text" name="answer_text" placehoder="your answer here" class="form-control-lg"></textarea>
        <input type="submit" eval="submit answer"/>
        </form>
    </div>
    <div class="col-8">
        <div class="p-5">
            <h3>{{question}}</h3>
            <p> {{question.description}} </p>
        </div>
        {% for answer in question.answer_set.all %}
        <div class="row p-2">
            <p>{{answer.answer_text}}  -- {{answer.created_by}} - {{answer.pub_date}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}