{% extends 'faq/base.html' %}

{% block title %}{{block.super}} : index {% endblock %}


{% block content %}
<div class="container container-sm">
<table class="table table-borderless p-3">
<thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
{% for question in latest_question_list %}
  <tr>
    <td><a href="{% url 'faq:question_detail' question.id %}"><span>{{ question.question_text }}</span></a></td>
    <td><span>{{ question.answer_set.all.count }}  answer{% if question.answer_set.all.count > 1 %}s{% endif %}</span></td>
  </tr>
{% endfor %}
  {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/faq?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/faq?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
      </div>
  {% endif %}
</tbody>    
</table>
</div>
{% endblock content %}