{% extends 'faq/base.html' %}

{% block title %}{{ block.super }}: Add Question{% endblock %}

{% block content %}
<h3>Submit your question</h3>
<p>
  Use this form to submit a question (and optionally a corresponding answer)
  that you would like to see added to the FAQs on this site.
</p>
<form action="." method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit"/>
</form>
{% endblock %}