{% extends 'faq/base.html' %}

{% block content %}
	<div class="row justify-content-md-center">
		<div class="col-md-auto">
			<form method="post">
				{% csrf_token %}
				{{form.as_p}}
				{% comment %} <div class="mb-3">
					<label for="id_username" class="form-label">Username</label>
					<input type="text" class="form-control" autocapitalize="none" autocomplete="username" required id="id_username" aria-describedby="nameHelp">
					<div id="nameHelp" class="form-text">Your username here</div>
				</div>
				<div class="mb-3">
					<label for="id_password" class="form-label">Password</label>
					<input type="password" class="form-control" autocomplete="current-password" required id="id_password">
				</div> {% endcomment %}
				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</>
{% endblock content %}